.tab{
    .tab_ribbon{
        position: absolute;
        right: -13px;
        top: -16px;
    }
    .bg{
        background: #EDF7FF;
        border-radius: 20px;
        position: relative;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .tab_img2{
        border-radius: 20px;
    }
    .tab_item{
        background: #FFFFFF;
        border-radius: 31px;
        text-transform: unset;
        width: 194px;
        font-weight: 600;
        height: 30px;
        border: 1px solid #A8BCCC;
        color: rgba(6, 50, 85, 0.3);

    }
    .Mui-selected {
        color: #F58A07 !important;
        font-weight: 600;
        border: none;
    }
    .css-1aquho2-MuiTabs-indicator{
        background-color: transparent;
    }
    .tab_content{
        h1{
            color: #0D1317;
            font-size: 42px;
            line-height: 56px;
            font-weight: 600;
            max-width: 86%;
        }
        h2{
            color: #5B5B5B;
            font-size: 18px;
            font-weight: 500;
            max-width: 93%;
            line-height: 30px;
        }
        .tab_btn{
            font-size: 16px;
            color: #F58A07;
            font-weight: 500;
            text-transform: unset;
            span{
                margin-left: 12px;
            }
        }
    }
}

@media (max-width:1199px) {
    .tab .tab_content {
        h1 {
            max-width: 100%;
            font-size: 38px;
            line-height: 50px;
        }
        h2 {
            font-size: 16px;
        }
    }
}

@media (max-width:899px) {
    .tab {
        .tab_ribbon{
            display: none;
        }
        .tab_content{
            h1 {
                font-size: 30px;
                line-height: 46px;
            }
            h2{
                line-height: 28px;
            }
        }
        .tab_item{
            width: 170px;
        }
        .tab_img{
            padding-top: 0 !important;
        }   
    } 
}
@media (max-width:599px) {
    .tab{
        .tab_ribbon {
                display: none;
            }
        
            .tab_content {
                h1 {
                    font-size: 26px;
                    line-height: 36px;
                }
        
                h2 {
                    max-width: 100%;
                    line-height: 28px;
                }
            }
    } 
    .css-heg063-MuiTabs-flexContainer{
        flex-direction: column;
        align-items: center;
    }
}